version: "3.9"

services:
  auth:
    build:
      context: .
      args:
        DATABASE_URL: ${DATABASE_URL}
    container_name: auth-service
    env_file:
      - .env
    ports:
      - "4000:4000"
    restart: unless-stopped
