version: "3.9"

services:
  user:
    build:
      context: .
      args:
        DATABASE_URL: ${DATABASE_URL}
    container_name: user-service
    env_file:
      - .env
    ports:
      - "4002:4002"
    restart: unless-stopped
